.header-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#2C3E50;
    padding:12px;

}
.footer{
    background-color:black;
    color:white;
    padding:20px;
    text-align:center;
    margin:0;
    bottom:0;
}

body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:white;
}
.nav-links{
    display:flex;
    gap:20px;
    margin:0;
    padding:0;
    list-style:none;
}
.accent {
    font-weight: 700;
}
.u {
    text-decoration: underline;
}
figure{
    display:block;
}
