.hero{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top:0px;
    padding:100px;
    min-height:33vh;
    background-image: url("../images/placeholder_assets/rainbow-vortex.png");
    height:70%;
}
.contact-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 20px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label {
    font-weight: bold;
}
.form-row{
    display:flex;
    flex-direction: column;
}
.submit-button {
    background-color: #27ae60;
    cursor:pointer;
    height:30px;
    width:15rem;
    padding:10px;
    font-weight: bold;
    border-radius: 5px;
}
.reset-button{
    cursor:pointer;
    background-color: #e74c3c;
    height:30px;
    width:15rem;
    padding:10px;
    font-weight: bold;
    border-radius: 5px;
}
@media(min-width: 768px){
    .hero{
        justify-content: center;
        padding:40px;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-quote {
        font-size: 1.2rem;
    }
    .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    grid-template-columns: minmax(260px, 1fr) 2fr;
    gap: 20px;
    padding: 20px;
}
    
}